{erl_opts, [
    % mandatory
    debug_info,
    warnings_as_errors,
    warn_export_all,
    warn_missing_spec,
    warn_untyped_record,
    warn_export_vars,

    % by default
    warn_unused_record,
    warn_bif_clash,
    warn_obsolete_guard,
    warn_unused_vars,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_deprecated_function
]}.

{deps, [
    jsx,
    hackney,
    cowlib,
    {ranch, "1.8.0"},
    {genlib, {git, "https://github.com/rbkmoney/genlib", {branch, "master"}}}
]}.

%% XRef checks
{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    deprecated_functions_calls,
    deprecated_functions
]}.

%% Dialyzer static analyzing
{dialyzer, [
    {warnings, [
        % mandatory
        unmatched_returns,
        error_handling,
        race_conditions,
        unknown
    ]},
    {plt_apps, all_deps}
]}.

{profiles, [
    {test, [
        {cover_enabled, true},
        {deps, []},
        {dialyzer, [
            {plt_extra_apps, [eunit, common_test]}
        ]}
    ]}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [consuela]}
]}.

{plugins, [
    {rebar3_neotoma_plugin, "0.2.0"},
    {rebar3_lint, "1.0.1"},
    {erlfmt, "1.0.0"},
    {covertool, "2.0.4"}
]}.

%% Linter config.
{elvis_output_format, colors}.

{provider_hooks, [
    {pre, [{compile, {neotoma, compile}}]}
]}.

{erlfmt, [
    {print_width, 120},
    {exclude_files, ["src/consuela_duration.erl"]},
    {files, [
        "{src,test}/*.{hrl,erl}",
        "rebar.config",
        "elvis.config"
    ]}
]}.

{covertool, [
    {coverdata_files, [
        "eunit.coverdata",
        "ct.coverdata"
    ]}
]}.
